<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421817940854-er27gme4df9305t4bq653jla03bg5pe1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421817940854-er27gme4df9305t4bq653jla03bg5pe1</string>
	<key>API_KEY</key>
	<string>AIzaSyDA78Xm_PcjluO2T3etWKW0h4bECfBLSKA</string>
	<key>GCM_SENDER_ID</key>
	<string>421817940854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.habitConnectFlutter</string>
	<key>PROJECT_ID</key>
	<string>habitconnect-e8fca</string>
	<key>STORAGE_BUCKET</key>
	<string>habitconnect-e8fca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421817940854:ios:4af87a7cc0e4e88c69d857</string>
	<key>DATABASE_URL</key>
	<string>https://habitconnect-e8fca-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>